@import "../utils/veriables.scss";
@import "../utils/placeholder";
@import "../utils/mixins";
.loadMore {
    text-align: center;
    margin: 40px 0;
}

button {
    padding: 12px 28px;
    border: 1px solid #ccc;
    background: #fff;
    @include text(14px);
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
}

button:hover {
   @extend --bg;
    border-color: #999;
}